@use "../../assets/variables.scss" as variables;

.product-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 1345px;
  width: 100%;

  &_title {
    font-family: variables.$primaryFont;
    font-size: min(7vw, 76px);
    color: variables.$textColor;
    font-weight: 400;
    line-height: 130%;
  }
}

.product-wrapper {
  display: flex;
  margin-bottom: 20px;

  &_category {
    width: 25%;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 35px;
  }
}
