@use "../../assets/variables.scss" as variables;

.item-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &_image {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &_file {
      width: 100%;
      cursor: pointer;
    }

    &_roll {
      display: flex;
      gap: 5px;
      width: 100%;

      &_item {
        width: 100%;
        cursor: pointer;

        &_file {
          width: 100%;
        }
      }
    }
  }

  &_product {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    margin: 0 10px;

    &_title {
      font-family: variables.$primaryFont;
      text-transform: uppercase;
      font-size: min(3vw, 76px);
      color: variables.$textColor;
      font-weight: 400;
    }

    &_description {
      font-size: min(2vw, 20px);
      line-height: 135%;
      font-family: variables.$secondaryFont;
      color: variables.$descriptionColor;
    }

    &_price {
      display: flex;
      gap: 30px;
      position: relative;
      padding: 0 15px 15px;

      &_value,
      &_discount {
        font-family: variables.$secondaryFont;
        color: variables.$textColor;
        font-size: min(2vw, 24px);
        font-weight: 300;
      }

      &_discount {
        color: red;
      }

      &_value.discounted {
        text-decoration: line-through;
      }

      &_icon {
        position: absolute;
        width: 47px;
        bottom: 20px;
        left: 45px;
      }
    }
  }

  &_loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}
