.change {
  &-form-submit {
    max-width: 390px;
    align-items: center;
    margin-bottom: 10px;
  }
  &-password-title {
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  &-password-message {
    color: green;
    width: 100%;
    height: 45px;
    &_error {
      color: red;
    }
  }
  &-password-container {
    gap: 10px;
  }
}
